{
    "plugins": ["wdio"],
    "extends":[
        "plugins:wdio/recommended",
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "mocha": true,
        "node": true
    }
}